<footer>
  <div class="footer-part-one">

    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fhpbmr9tlgj30n306n40b.jpg" alt="" height= 40px>
    <span>©2017 万数科技有限公司    </span>
  </div>


<nav class="footer-part">
  <ul>
    <li>首页 </li> |
    <li>法律声明</li> |
    <li>隐私保护</li> |
    <li>联系我们</li>
  </ul>
</nav>

</footer>
