<!-- navbar的内容 -->
<div class="head-frame">
  <div class="head">
    <div class="logo">
      <a href="/"><img src="https://ws2.sinaimg.cn/large/006tNc79ly1fhpbmr9tlgj30n306n40b.jpg" alt=""></a>
    </div>
    <nav class="head-tag">
      <ul>
        <li><a href="#">首页</a> </li>
        <li><a href="#">服务器</a> </li>
        <li><a href="#">仿真</a></li>
        <li><a href="#">铁路</a></li>
      </ul>
    </nav>
  </div>
</div>
